.card-body {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    gap: 10px !important;
    text-decoration: none !important;
    text-align: center !important;
    transition: all 0.3s ease-in-out !important;
    background-color: #222831 !important;
    color: #EEEEEE !important;
    font-weight: bold !important;
    font-size: 20px !important;
    padding: 10px !important;
    border-radius: 5px !important;
    text-align: center !important;
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

}

form {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    gap: 10px !important;
    text-decoration: none !important;
    text-align: center !important;
    transition: all 0.3s ease-in-out !important;
}

.btn {
    color: #00ADB5 !important;
    font-weight: bold !important;
    font-size: 20px !important;
    padding: 10px !important;
    border-radius: 5px !important;
    background-color: #EEEEEE;
    text-align: center !important;
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    gap: 10px !important;
    text-decoration: none !important;
    text-align: center !important;
    transition: all 0.3s ease-in-out !important;
    border: #00ADB5 !important;
    cursor: pointer !important;
}

.card-title {
    color: #00ADB5 !important;
    font-weight: bold !important;
    font-size: 30px !important;
    border-radius: 5px !important;
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    gap: 10px !important;
    text-decoration: none !important;
    text-align: center !important;
    transition: all 0.3s ease-in-out !important;
}

input {
    color: #222831 !important;
    font-weight: bold !important;
    font-size: 20px !important;
    padding: 10px !important;
    border-radius: 5px !important;
    text-align: center !important;
    height: 25px !important;
    width: 500px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    gap: 10px !important;
    text-decoration: none !important;
    text-align: center !important;
    transition: all 0.3s ease-in-out !important;
    cursor: pointer !important;
    font-size: medium;
}

label {
    color: #00ADB5 !important;
    border-radius: 5px !important;
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    text-decoration: none !important;
    text-align: center !important;
    transition: all 0.3s ease-in-out !important;
    font-size: small;
}





@media screen and (max-width: 1000px) and (min-width: 100px) {
    .login {
        background-color: #222831 !important;
        color: #EEEEEE !important;
        font-weight: bold !important;
        font-size: 20px !important;
        padding: 10px !important;
        border-radius: 5px !important;
        text-align: center !important;
        width: 100% !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        flex-direction: column !important;
        gap: 10px !important;
        text-decoration: none !important;
        text-align: center !important;
        transition: all 0.3s ease-in-out !important;
        z-index: 99;
    }

    .btn {
        color: #00ADB5 !important;
        font-weight: bold !important;
        font-size: 20px !important;
        padding: 10px !important;
        border-radius: 5px !important;
        background-color: #EEEEEE;
        text-align: center !important;
        width: 100% !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        flex-direction: column !important;
        gap: 10px !important;
        text-decoration: none !important;
        text-align: center !important;
        transition: all 0.3s ease-in-out !important;
        border: #00ADB5 !important;
        cursor: pointer !important;
    }

    .card-title {
        color: #00ADB5 !important;
        font-weight: bold !important;
        font-size: 20px !important;
        border-radius: 5px !important;
        text-align: center !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        flex-direction: column !important;
        gap: 10px !important;
        text-decoration: none !important;
        text-align: center !important;
        transition: all 0.3s ease-in-out !important;
    }

    input {
        color: #00ADB5 !important;
        font-weight: bold !important;
        font-size: 20px !important;
        padding: 10px !important;
        border-radius: 5px !important;
        text-align: center !important;
        width: 100% !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        flex-direction: column !important;
        gap: 10px !important;
        text-decoration: none !important;
        text-align: center !important;
        transition: all 0.3s ease-in-out !important;
        cursor: pointer !important;
    }

}