<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h1 class="card-title text-center mb-5 fw-light fs-5">Sign In</h1>
                    <form (submit)="submitForm($event)">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" name="email" placeholder="l5qZt@example.com">
                            <label for="floatingInput">Email address</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control"  name="password" placeholder="Password">
                            <label for="floatingPassword">Password</label>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Sign in</button>
                        </div>

                    </form>
                    <div class="mt-3">
                        <p class="mb-0 text-center">
                            Not registered?
                            <a routerLink="/register" class="text-primary fw-bold">Create an Account</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>