<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Add Product</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form (submit)="addProduct($event)">
                <div class="form-group">
                    <label for="productName">Product Name</label>
                    <input type="text" class="form-control" id="productName" name="productName">
                </div>
                <div class="form-group">
                    <label for="productCategory">Product Category</label>
                    <input type="text" class="form-control" id="productCategory" name="productCategory">
                </div>
                <div class="form-group">
                    <label for="productQuantity">Product Quantity</label>
                    <input type="number" class="form-control" id="productQuantity" name="productQuantity">
                </div>
                <div class="form-group">
                    <label for="productRating">Product Rate</label>
                    <input type="text" class="form-control" id="productRating" name="productRating">
                </div>
                <div class="form-group">
                    <label for="productPrice">Product Price</label>
                    <input type="text" class="form-control" id="productPrice" name="productPrice">
                </div>
                <div class="form-group">
                    <label for="productSupplier">Product Supplier</label>
                    <input type="text" class="form-control" id="productSupplier" name="productSupplier">
                </div>
                <div class="form-group">
                    <label for="productAvailable">Product Available</label>
                    <select class="form-select" aria-label="Default select example" name="productAvailable">
                        <option selected>Open this select menu</option>
                        <option value=true style="color: green;">In Stock</option>
                        <option value=false style="color: red;">Out Of Stock</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="productDescription">Product Description</label>
                    <textarea class="form-control" id="productDescription" name="productDescription"></textarea>
                </div>
                <div class="form-group">
                    <label for="productImg">Product Picture</label>
                    <input type="file" class="form-control" id="productImg" name="productImg">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-info">add product</button>
                </div>
            </form>
            <div style="height: 100px;"></div>
        </div>
    </div>
</div>
